@import 'modern-normalize';
@import 'tailwindcss';

@theme inline {
  --font-display: 'Poppins', 'sans-serif';
  --breakpoint-2xl: 1280px;
  --color-*: initial;
  --color-bg: var(--color-background);
  --color-bg-dark: var(--color-background-dark);
  --color-bg-light: var(--color-bg-light);
  --color-header: var(--color-header);
  --color-brand: var(--color-brand);
  --color-hover: var(--color-brand-hover);
  --color-white: var(--color-white);
  --color-text-dark: var(--color-text-dark);
  --color-text-theme: var(--color-text-theme);
  --color-label-gray: var(--color-label-gray);
  --color-label-violet: var(--color-label-violet);
  --color-label-pink: var(--color-label-pink);
  --color-label-green: var(--color-label-green);
  --color-error: var(--error-color);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-white);
  background-color: var(--color-background);
}

button {
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

a {
  outline: none;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.noScroll {
  overflow: hidden;
  height: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1440px;
    padding: 0 24px;
  }
}
